.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --main: black;
  --primary: #c8ad7f;
  --secondary: #f6e6d1;
  --tertiary: #fdf1b8;
  --quaternary: #ebe3d5;
  --white: #ffffff;
  --font-family: 'Poppins', 'Courier New', Courier, monospace;
  --font-size: 16px;
  --font-size-large: 20px;
  --font-size-xxlarge: 24px;
  --font-size-xxxlarge: 28px;
  --font-size-xxxxlarge: 32px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
  --font-size-xxsmall: 10px;
}

a {
  transition: all 0.3s;
  text-decoration: none;
  color: var(--main);
}
/* HEADER*/
.header {
  background-color: var(--secondary);
  color: var(--secondary);
  padding: 10px;
  text-align: center;
  font-size: var(--font-size-large);
  position: relative;
}
.header h1 {
  font-size: var(--font-size-xxxxlarge);
  color: #895129;
  margin: 0;
}
/* .header h2 {
  font-size: var(--font-size-xxxlarge);
  color: var(--main);
  margin: 0;
} */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav ul {
  list-style: none;
  padding: 0;
}

.hide-menu {
  display: none;
}


.burger {
  display: none;
  background-color: var(--white);
  border: 1px solid var(--main);
  border-radius: 5px;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px;
}

.burger span {
  height: 4px;
  width: 100%;
  background-color: var(--main);
  transition: all 0.3s;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}


.hero{
  margin-bottom: 30px;
}

.dark-mode {
  background-color: var(--main);
  color: var(--white);
}

/* BODY*/

body {
  background-color: var(--primary);
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  color: #000;
}
/* SECTIONS*/

/* CARROUSSEL*/
.carroussel {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: #000 solid 3px;
}
.carroussel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}


.carroussel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.carroussel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carroussel-item h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

h1 {
  font-size: var(--font-size-xxxxlarge);
  color: var(--main);
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: var(--font-size-xxxlarge);
  color: var(--main);
  text-align: center;
  margin: 20px 0;
}

h3 {
  font-size: var(--font-size-xxlarge);
  color: var(--main);
  text-align: center;
  margin: 20px 0;
}

.span {
  font-size: var(--font-size-xxlarge);
  color: var(--main);
}

/* General form styling */
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Button styling */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 500px) {
  form {
      margin: 20px;
      padding: 15px;
  }
}

/* Error state for invalid inputs */
input:invalid {
  border-color: #ff4d4d;
}

.button {

  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 300px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.home-link {
  text-decoration: none;
  color: var(--secondary);
  font-size: var(--font-size-large);
  background-color: var(--main);
  padding: 10px 20px;
  border-radius: 10px;
  display: block;

}

.home-link:hover {
  opacity: .7;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.phone-link {
  text-decoration: none;
  color: var(--main);

}

.phone-link:hover {
  opacity: 0.3;
}

.location{
  padding: 10px;
}

.location p {
  margin-bottom: 10px;
}
.footer {
  background-color: var(--secondary);
  color: var(--main);
  text-align: center;
  padding: 5px;
  
}
.footer p {
  margin-bottom: 10px;
}





/*               started mobile css              */

@media (max-width: 767px) {
  body {
      padding: 0px;


  }

  section {
      padding: 0px 10px;
  }

  .burger {
      display: flex;
  }

  .hide-menu {
      display: block;
      text-align: center;
  }

  #menu {
      position: fixed;
      top: 0;
  
      bottom: 0;
      background-color: var(--white);
      z-index: 10;
      width: 80%;
      right: -80%;
      padding: 50px 20px 20px;
      transition: all 0.3s;
  }
  #menu ul {
      margin-bottom: 40px;

  }
  #menu ul li {
      margin-bottom: 15px;
  }
  #menu ul li:last-child{
      margin-bottom: 0px;
  }

  #menu.visible {
      right: 0;
      display: block;
  }

  .hide-menu button {
      background-color: red;
  }
}




@media (max-width: 1023px) {

}