@media (max-width: 767px) {
    body {
        padding: 0px;


    }

    section {
        padding: 0px 10px;
    }

    .burger {
        display: flex;
    }

    .hide-menu {
        display: block;
        text-align: center;
    }

    #menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white);
        z-index: 10;
        width: 80%;
        right: -80%;
        padding: 50px 20px 20px;
        transition: all 0.3s;
    }
    #menu ul {
        margin-bottom: 40px;

    }
    #menu ul li {
        margin-bottom: 15px;
    }
    #menu ul li:last-child{
        margin-bottom: 0px;
    }

    #menu.visible {
        right: 0;
        display: block;
    }

    .hide-menu button {
        background-color: red;
    }
}




@media (max-width: 1023px) {

}